body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #64dbf8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}